@font-face {
    font-family: montserrat;
    src: url(font/Montserrat-Regular.ttf);
  }
@font-face {
  font-family: poppins;
  src: url(font/Poppins-Regular.ttf);
}

h1 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    font-size: x-large;
}   

h2 {
    font-family: montserrat, sans-serif;
    font-size: large;
} 

a {
    text-decoration: none;
    color: gray;
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 600;
}

a.active {
    font-size: x-large;
    color:darkgoldenrod;
    font-weight: 600;
}
body {
    display: grid;
    gap: 0;
}

.cadre2 h1, .cadre2 h2, .cadre2 p  {
    margin: 0;
    padding: 1rem;
}


.cadre2 p {
    font-family: poppins, sans-serif;
}

header {
    text-align:center;
    display: flex;
    align-items: center;
    padding: 10px;
}

nav {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

main {
    grid-area: 3/1/4/3;
    display: grid;
    grid-template-columns: 40% 60%;
}

.cadre3 {
    padding: 1rem;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

hr { /* Barre horizontal */
    width: 100%;
    background-color: darkgoldenrod;
    height: 1px;
    grid-area: 2/1/3/3;
}

div a {
 width: 30%;
}

.img {
    width: 100%;
}
.carte
{

    height: 100%;
    width: 100%;
}

form {
    grid-area: 2/1/3/3;
    display: block;
}

main > h1 {
    grid-area: 1/1/2/3;
}

form input, form select, form textarea {
    margin: 1rem 0 1rem 1rem;
    background: blanchedalmond;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, "sans-serif";
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}

form input, form select {
    height: 30px;
    padding-left: 10px;
}

form textarea {
    width: 100%;
}

.button {
    background-color: #d1c8c1;
    border: none;
    color: white;
    padding: 10px 5px;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    align-self: self-end;
}

.center {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
}

@media (min-width:701px) {
    /* Pc */
    body {
        grid-template-rows: 100px 20px 1fr;
        grid-template-columns: 40% 60%;
        margin: 2rem 5rem;
    }

    nav {
        grid-area: 1/2/2/3;
    }

    header {
        grid-area: 1/1/2/2;
    }
    hr {
        grid-area: 2/1/3/3;
    }
    main {
        grid-area: 3/1/4/3;
        grid-template-rows: auto auto;
    }

    .cadre1{
        grid-area: 1/1/2/3; 
    }

    .cadre2 {
        grid-area : 2/1/3/2;
        display: flex;
        flex-direction: column;
    }

    .cadre3 {
        grid-area: 2/2/3/3;
    }

    span {
        display: none;
    }
}
@media (max-width:700px) {
    /* Mobile */
    body {
        grid-template-rows: 100px 20px 100px 1fr;
        margin: 1rem 2rem;
    }

    nav {
        grid-area: 1/1/2/2;
    }

    header {
        grid-area: 3/1/4/2;
        justify-content: space-evenly;
    }
    hr {
        grid-area: 2/1/3/2;
    }

    main {
        grid-area: 4/1/5/2;
        grid-template-rows: auto auto auto auto;
    }

    .cadre1 {
        grid-area: 2/1/3/3; 
    }

    .cadre2 {
        grid-area : 1/1/2/3;
    }

    .cadre3 {
        grid-area: 3/1/4/3;
    }

    span {
        grid-area: 4/1/5/3;
        text-align: center;
        font-size: x-large;
        font-family: poppins, sans-serif;
    }

    .cadre2 .button {
        display: none;
    }
}